@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /*max-width: 1580px;*/
  margin: 0 auto;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /*padding-right: 2rem;*/
  /*padding-left: 2rem;*/
}
